@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

.container {
    width: 100%;
    /*    max-width: 750px; */
    margin: 0 auto;
    background: #23424A;
    color: white;
    padding: 6em 4em;
    border: 2px solid yellow;
}

h1 {
    margin: 0;
    font-size: 48px;
}

.intro-content {
    max-width: 450px;
    color: #fff;
}

.intro-content p {
    margin: 0;
    padding: 1.8em 0;
}

button {
    all: unset;
    text-transform: uppercase;
    font-weight: 700;
    padding: .5em 2em;
    border-radius: 40px;
    background-color: #38CFD9;
    color: #000 !Important;
    letter-spacing: 1px;
}

button:hover,
button:focus {
    opacity: .9;
    box-shadow: 0px 0px 13px 2px yellow;
}